@font-face {
    font-family:'themify';
    src:url(fonts/themify.ttf);
}
@font-face {
    font-family:'Bebas Neue';
    src:url(fonts/bebasneue/bebasneue.ttf);
}
@font-face {
    font-family:'Bebas Neue Regular';
    src:url(fonts/bebasneue/bebasneue_regular.ttf);
}
@font-face {
    font-family:'Bebas Neue Bold';
    src:url(fonts/bebasneue/bebasneue_bold.ttf);
}
@font-face {
    font-family:'Bebas Neue Book';
    src:url(fonts/bebasneue/bebasneue_book.ttf);
}
@font-face {
    font-family:'Bebas Neue Light';
    src:url(fonts/bebasneue/bebasneue_light.ttf);
}
@font-face {
    font-family:'Montserrat Light';
    src:url(fonts/montserrat/montserrat_light.ttf);
}
@font-face {
    font-family:'Poppins Light';
    font-weight:100;
    src:url(fonts/poppins/poppins_light.ttf);
}
@font-face {
    font-family:'Poppins Medium';
    font-weight:300;
    src:url(fonts/poppins/poppins_medium.ttf);
}
@font-face {
    font-family:'Poppins';
    font-weight:400;
    src:url(fonts/poppins/poppins_regular.ttf);
}
@font-face {
    font-family:'Poppins SemiBold';
    font-weight:600;
    src:url(fonts/poppins/poppins_semibold.ttf);
}
@font-face {
    font-family:'Poppins Bold';
    font-weight:700;
    src:url(fonts/poppins/poppins_bold.ttf);
}
@font-face {
    font-family:'Oswald';
    src:url(fonts/oswald/oswald_regular.ttf);
}
@font-face {
    font-family:'Oswald Light';
    src:url(fonts/oswald/oswald_light.ttf);
}
@font-face {
    font-family:'themify';
    src:url(fonts/themify.ttf);
}
@font-face {

    font-family:'Bebas Neue';

    src:url(fonts/bebasneue/bebasneue.ttf);

}

@font-face {

    font-family:'Bebas Neue Regular';

    src:url(fonts/bebasneue/bebasneue_regular.ttf);

}

@font-face {

    font-family:'Bebas Neue Bold';

    src:url(fonts/bebasneue/bebasneue_bold.ttf);

}

@font-face {

    font-family:'Bebas Neue Book';

    src:url(fonts/bebasneue/bebasneue_book.ttf);

}

@font-face {

    font-family:'Bebas Neue Light';

    src:url(fonts/bebasneue/bebasneue_light.ttf);

}

@font-face {

    font-family:'Montserrat Light';

    src:url(fonts/montserrat/montserrat_light.ttf);

}

@font-face {

    font-family:'Poppins Light';

    font-weight:100;

    src:url(fonts/poppins/poppins_light.ttf);

}

@font-face {

    font-family:'Poppins Medium';

    font-weight:300;

    src:url(fonts/poppins/poppins_medium.ttf);

}

@font-face {

    font-family:'Poppins';

    font-weight:400;

    src:url(fonts/poppins/poppins_regular.ttf);

}

@font-face {

    font-family:'Poppins SemiBold';

    font-weight:600;

    src:url(fonts/poppins/poppins_semibold.ttf);

}

@font-face {

    font-family:'Poppins';

    font-weight:700;

    src:url(fonts/poppins/poppins_bold.ttf);

}

@font-face {

    font-family:'Oswald';

    src:url(fonts/oswald/oswald_regular.ttf);

}
